body{
  background-color: #333;
}
nav{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width:100%;
  justify-items: stretch;
  background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0));
}

nav .logo-container{
  width: 40%;
  display: flex;
  align-items: center;
}
nav .logo-container a{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
}

nav .logo-container a img{
  width: 40px;
  margin-right: 10px;
}

nav .menu-container{
  width: 50%;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
nav .menu-container a{
padding: 10px 0;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
nav .menu-container a.active{
  border-bottom: 2px solid rgba(255, 255, 255, 0.50);
}
nav .logo-container a:hover,
nav .menu-container a:hover{
  opacity: .8;
}

video{
  width: 100vw;
  height: 100vh;
}